.outerContentContainer {
  width: 100%;
  height: 100%;
  background-color: #162127;
  display: flex;
  justify-content: center;
}
.contentContainer {
  height: 100%;
  width: 100%;
  max-width: 900px;
  color: white;
  padding: 0 10% 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
  img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  p {
    margin: 8px 0;
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  .contentContainer {
    p {
      font-size: 20px;
    }
    .arrow {
      font-size: 70px;
    }
    img {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 700px) {
  .contentContainer {
    img {
      margin-bottom: 60px;
    }
    p {
      font-size: 24px;
      margin-bottom: 12px 0;
    }
    .arrow {
      font-size: 70px;
    }
  }
}

@media (min-width: 1000px) {
  .contentContainer {
    img {
      margin-bottom: 80px;
    }
    p {
      font-size: 26px;
      margin-bottom: 20px 0;
    }
    .arrow {
      font-size: 70px;
    }
  }
}
