.technology {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  img {
    width: 80%;
  }
  p {
    font-size: 20px;
  }
  div {
    font-size: 60px;
    color: #31afa7;
  }
}
